body{
    font-family: 'Gamja Flower', cursive; 
}
h1, header{
    font-family: 'Chelsea Market', cursive;
}
header{
    background-color: #e4572e; 
    text-align: center;
    padding: auto;
    margin: auto;
}
main{
    background-color: #fffff2; 
}
article{
    position: relative;
    text-align: left;
	box-shadow: 3px 3px 0 0 #e4572e; 
	border: 4px solid #050401; 
	padding: 5px;
	margin: 20px auto;
	max-width: 680px;
	
}

img{
	position: absolute;
	float: left;
	clear: right;
	right: 0;
	bottom: 0;
}
footer{
    text-align: center;
}
input[type="text"] {
	box-shadow: 3px 3px 0 0 #e4572e; 
	padding: 15px;
	
}
input[type="submit"] {
	box-shadow: 3px 3px 0 0 #e4572e; 
	padding: 15px;
}
form>p{
	display: inline;
	margin: 0 10px 0 ;
}
